* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr / 150px 1fr 150px;
}


.parte2{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: white;
    /* just in case there no content*/
    margin: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    /* shadows and rounded borders */
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.parte2 .form-crear{
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr 1fr;
}
.header{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
.nombre{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.contrasena{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
.razon{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}
.ciudad{
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}
.contacto{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.email{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
.crear{
    grid-row: 4 / 6;
    grid-column: 2 / 3;
}
.header h1{
    padding: 40px 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.nombre #username, .contrasena #contra, .razon #razon, .ciudad #ciudad, .contacto #contacto, .email #email{
    direction: ltr;
    height: 40px;
    width: 80%;
    font-size: 16px;
    padding: 10px;
    border-radius: 3px;
    margin-left: 50px;
    border-color: rgba(0, 0, 0, 0.192);
}
.nombre #username:focus, .contrasena #contra:focus, .razon #razon:focus, .ciudad #ciudad:focus, .contacto #contacto:focus, .email #email:focus{
    border-color: rgb(162, 201, 218);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.007),0 0 8px #88A8F2;
}
label{
    padding-left: 50px;
    display: inline;
}
.crear .bt_crea_empresa{
    margin: 50px 150px;
    background-color: #85B6DB;
    color: white;
    width: 45%;
    font-size: 20px;
    height: 56px;
    border-radius: 5px;
    border: none;
}
.crear .bt_crea_empresa:hover{
    background-color: #88A8F2;
    cursor: pointer;
}
h5{
    color: rgba(255, 0, 0, 0.5);
    padding: 0;
    margin: 0;
    display: inline;
}