body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header{
  z-index: 1;
  position: fixed;
  background: #B67AE0;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3{
  color: #fff;
  margin-left: 70px;
  display: inline;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;
}

.logout_btn{
  padding: 5px;
  background: #85B6DB;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  transition: 0.5s;
  transition-property: background;
  text-transform: uppercase;
}

.logout_btn:hover{
  background: #0B87A6;
}

.content{
    width: (100%);
    margin-top: 70px;
    padding-left: 20px;
    margin-right: 20px;
    background: white;
    background-position: center;
    background-size: cover;
}

.content .form-crear{
    border-radius: 20px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr 1fr;
}

.header{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    padding-left: 20px;
}

.nombre{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.finicial{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.ffinal{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
.estado{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.crear{
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}
.estado #esta{
    direction: ltr;
    height: 40px;
    width: 80%;
    font-size: 16px;
    padding: 10px;
    margin-left: 30px;
}
.estado #esta:focus{
    border-color: rgb(162, 201, 218);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.007),0 0 8px #88A8F2;
}
.nombre #name, .finicial #fecha_inicial, .ffinal #fecha_final{
    direction: ltr;
    height: 40px;
    width: 80%;
    font-size: 16px;
    padding: 10px;
    border-radius: 3px;
    margin-left: 30px;
    border-color: rgba(0, 0, 0, 0.192);
}
.nombre #name:focus, .finicial #fecha_inicial:focus, .ffinal #fecha_final:focus, .desc #descripcion:focus{
    border-color: rgb(162, 201, 218);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.007),0 0 8px #88A8F2;
}
.content label{
    padding-left: 30px;
    display: inline;
}
.crear .bt_crea_convocatoria{
    margin: 35px 350px;
    background-color: #85B6DB;
    color: white;
    width: 45%;
    font-size: 20px;
    height: 56px;
    border-radius: 5px;
    border: none;
}

.crear .bt_crea_convocatoria:hover{
    background-color: #0B87A6;
    cursor: pointer;
}

h5{
    color: rgba(255, 0, 0, 0.5);
    padding: 0;
    margin: 0;
    display: inline;
}