* {
    box-sizing: border-box;
}
.contenedor{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 550px 1fr / 1fr 1fr 1fr;
}

.form-inicio{
    max-width: 700px;
    padding: 10px 50px;
}
.parte2{
    background-color: white;
    /* just in case there no content*/
    margin-top: 25px;
    /* shadows and rounded borders */
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.form-inicio .campo{
    direction: ltr;
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.192);
}
.form-inicio .campo:focus{
    border-color: rgb(162, 201, 218);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.007),0 0 8px #88A8F2;
}
.form-inicio h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    padding-top: 50px; 
}
.parte3{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.parte3 a{
    text-decoration: none;
    color: #85B6DB;
}

.form-inicio .olvido_contra{
    text-decoration: none;
    color: #85B6DB;
}
.form-inicio .bt_login{
    width: 100%;
    padding: 5px;
    margin-top: 30px;
    background-color: #85B6DB;
    color: white;
    font-size: 14px;
    height: 36px;
    border-radius: 3px;
    border: none;
}
.form-inicio .bt_login:hover{
    background-color: #88A8F2;
    cursor: pointer;
}

h5{
    color: rgba(255, 0, 0, 0.5);
    padding: 0;
    margin: 0;
    text-align: right;
}